Jinja2==2.10
MarkupSafe==1.1.0
PyYAML==3.12
Sphinx==2.0.1
cbor==1.0.0
configobj==5.0.6
cryptography==2.7
docker==4.3.1
imgtool==1.6.0
lavacli==1.0
m2r==0.2.1
pyasn1==0.1.9
pycryptodome==3.6.6
requests==2.22.0
ruamel.yaml==0.16.12
sphinx-rtd-theme==0.4.3
sphinxcontrib-plantuml==0.15
xmltodict==0.12.0
